//base
@import 'base/reset';
@import 'base/vars';


//components
@import 'components/navbar';
@import 'components/footer';


//layouts
@import 'layout/index';
@import 'layout/boxeo';
@import 'layout/contacto';
@import 'layout/crossfit';
@import 'layout/spinning';
@import 'layout/mediaqueries';








body {
    background-color: $mainColor;
}

.bg-bchmnd {
    background-color: $mainColor;
}

.btn-primary {
    background-color: $mainColor;
    border-radius: 0;
    color: #111;
    font-size: 24px;
    border: none;
}

.btn-primary:hover, .btn-primary:focus, .btn:active {
    border: 2px solid $mainColor;
    color: burlywood;
    background-color: transparent;
}

.card {
    border-radius: 0;
    padding: 0;
    width: 400px;
    margin: 10px 0;
}

.card-img-top {
    border-radius: 0;
}

.carousel-inner, .carousel-item {
    height: 600px;
}

.carousel-item img {
    height: 100%;    
    object-fit: cover;
    width: 50%;
}


.form {
    display: flex;
    flex-direction: row;
    background-color: $mainColor;
    width: 100%;
    padding: 50px 20px;
    gap: 20px;
  }
  
  .form {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    grid-area: form;
    height: 100%;
    width: 100%;
  }
  
  .form iframe {
    width: 50%;
    height: 250px;
  }
  
  .form label {
    font-size: 20px;
    align-self: flex-end;
  }
  
  .form input,
  .form textarea {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    background-color: rgb(250, 200, 125);
    border: 2px solid $mainColor;
    color: $mainColor;
  
  }