

@media (max-width:480px) {
    .hero article {
        width: 100%;

    }

    .hero__crossfit article {
      width: 100%;
    }

    .card {
        width: 90%; 
    }

    .form__container {
      flex-direction: column;
      text-align: center;
    }

    .form__container form {
     padding: 30px 80px;
     width: 100%;
     display: flex;
     flex-direction: column;
     font-size: 18px;

    }

    .form p {
    font-size: 14px;
    color: grey;
    margin-bottom: 14px;
    }

    .form__container label {
  font-size: 14px;
  color: grey;
  align-self: flex-end;
  margin-bottom: 15px;
}

  .form__container input {
width: 100%;
padding: 0;

}
  
    
  .form__container iframe {
      width: 100%;
      height: 100%;
      min-height: 300px;
      max-height: 100%;
    }

    .grid__boxeo {
      display: inherit;
    }

    .grid__crossfit {
      display: inherit;
    }

    .grid__contacto {
      display: inherit;
    }

    .box__spinning {
      width: 105%;
    }
}

@media (max-width:600px) {
  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-auto-rows: minmax(300px, auto);
    grid-auto-flow: dense;
  }

  .form__container {
    flex-direction: column;
    text-align: center;
  }

  .form__container form {
   padding: 30px 80px;
   width: 100%;
   display: flex;
   flex-direction: column;
   font-size: 18px;

  }

  .form p {
  font-size: 14px;
  color: grey;
  margin-bottom: 14px;
  }

  .form__container label {
font-size: 14px;
color: grey;
align-self: flex-end;
margin-bottom: 15px;
}

.form__container input {
width: 100%;
padding: 0;

}

  
.form__container iframe {
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 100%;
  }

  .grid__boxeo {
    display: flex;
    flex-direction: column;
  }

  .grid__crossfit {
    display: inherit;
  }
}

@media (min-width:600px) {
    .container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-auto-rows: minmax(300px, auto);
      grid-auto-flow: dense;
    }

    .form__container {
      flex-direction: column;
      text-align: center;
    }

    .form__container form {
     padding: 30px 80px;
     width: 100%;
     display: flex;
     flex-direction: column;
     font-size: 18px;

    }

    .form p {
    font-size: 14px;
    color: grey;
    margin-bottom: 14px;
    }

    .form__container label {
  font-size: 14px;
  color: grey;
  align-self: flex-end;
  margin-bottom: 15px;
}

  .form__container input {
width: 100%;
padding: 0;

}
  
    
  .form__container iframe {
      width: 100%;
      height: 100%;
      min-height: 300px;
      max-height: 100%;
    }

    .grid__boxeo {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .grid__crossfit {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  
  
  @media (min-width:768px) {
    nav,
    .hero {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .hero img,
    .hero-content {
      width: 50%;
    }
  
    .nav-list {
      flex-direction: row;
    }

    .form__container {
      flex-direction: row-reverse;
    }
  
    form {
      width: 50%;
    }
  
    .form__container iframe {
      width: 50%;
      min-height: 600px;
      max-height: 100%;
    }

    .grid__boxeo {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .grid__crossfit {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }  
  
  @media (min-width:1024px) {
    .form__container {
      flex-direction: row-reverse;
    }
  
    form {
      width: 50%;
    }
  
    .form__container iframe {
      width: 50%;
      min-height: 600px;
      max-height: 100%;
    }

    .grid__boxeo {
      display: grid;
    }

    .grid__crossfit {
      display: grid;
    }
  }

  @media (max-width:300px) {
    .hero article {
        width: 100%;
  
    }
  
    .hero__crossfit article {
      width: 100%;
    }
  
    .grid__boxeo {
      display: inherit;
    }
  
    .grid__contacto {
      display: inherit;
    }
  
  
  
    .card {
        width: 80%; 
    }
  
    .form__container {
        flex-direction: column;
        text-align: center;
      }
  
      .form__container form {
       padding: 30px 80px;
       width: 100%;
       display: flex;
       flex-direction: column;
       font-size: 18px;
  
      }

      .form p {
      font-size: 14px;
      color: grey;
      margin-bottom: 14px;
      }

      .form__container label {
    font-size: 14px;
    color: grey;
    align-self: flex-end;
    margin-bottom: 15px;
}

    .form__container input {
  width: 100%;
  padding: 0;

}
    
      
    .form__container iframe {
        width: 100%;
        height: 100%;
        min-height: 300px;
        max-height: 100%;
      }
  
    .grid__crossfit {
      display: inherit;
    }
  
    .box__crossfit {
      width: 105%;
    }
    
  
  
    
  }
